<a href="https://colab.research.google.com/github/ManishKr19/Advance-Data-Science-Capstone/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **LAMBDA FUNCTION**

In [ ]:
def squareNum(num):
  return num**2

squareNum(5)

25

In [ ]:
squarFunc = lambda num : num**2
squarFunc(5)

25

In [ ]:
xpow = lambda a,b : a*b
xpow(3,2)

6

In [ ]:
print(type(xpow))

<class 'function'>

In [ ]:
kgs_gm = lambda x : x*1000
kgs_gm(50)

50000

# exercise: write a lambda function to check if number is even or odd
# return bool True if even and False if odd // boolean function (only return bool)

In [ ]:
even_odd = lambda x : "even" if x%2==0 else "odd"
print(even_odd(int(input())))

12
even

In [ ]:
sumNumber = lambda x,y : x+y
print(sumNumber(int(input()),int(input())))

4
5
9

In [ ]:
sumNumber = lambda x,y : max(x,y)
print(sumNumber(int(input()),int(input())))

1
2
2

**## MAP - REDUCE - FILTER**

In [ ]:
lst = [9,8,17,27,15]

a= [1,2,3,4,5]
func = lambda x: x**2 # expression

print(list(map(func, a)))

[1, 4, 9, 16, 25]

***FILTER***

In [ ]:
a= [1,2,3,4,5]
func = lambda x: x%2==0  #bool function

print(list(filter(func, a)))

[2, 4]

In [ ]:
giftBox = 'bread iph*one butter ip*ad milk'
p = giftBox.split()

func = lambda x: '*' in x   #bool function
print(list(filter(func, p)))

['iph*one', 'ip*ad']

***REDUCE***

In [ ]:
from functools import reduce

data =[1,2,3,4,5]

def sumFun(x,y):
  print(f"{x}+{y}={x+y}")
  return x+y

print(reduce(sumFun,data))

1+2=3
3+3=6
6+4=10
10+5=15
15

In [ ]:
from functools import reduce

data =[1,2,3,4,5]

minFunc = lambda x,y : min(x,y)

print(reduce(minFunc,data))

1