In [3]:
num=6 #int(input())
print([num**2 for num in range(1,num)])

#syntax: [expression >> iteration >> condition checking]

[1, 4, 9, 16, 25]

In [2]:
print([num*100 for num in range(1,6)])

[100, 200, 300, 400, 500]

****Important****

In [4]:
print([num for num in range(1,15) if num%4==0])

[4, 8, 12]

In [5]:
age = int(input())
print("Yes" if age>=18 else "No")

15
No

In [7]:
print("Even" if int(input())%2==0 else "Odd")

24
Even

In [29]:
#print([("{} is even".format(num)) if(num%2==0) else ("{} is odd".format(num)) for num in range(1,20) if num%3==0])

print([f'{num} is even' if(num%2==0) else f'{num} is odd' for num in range(1,20) if num%3==0])

['3 is odd', '6 is even', '9 is odd', '12 is even', '15 is odd', '18 is even']

In [31]:
#print([f'{num} is even' if(num%2==0) else f'{num} is odd' for num in range(1,20) if num%3==0])

In [33]:
colors = ['red','green','orange','black','indigo']
print([color for color in colors if color[0].lower() in 'aeiou'])

['orange', 'indigo']

**giftBox** = 'bread iph*one butter ip*ad milk'

**giftBoxItems** = giftBox.split()

**['iph*one' , 'ip*ad']**

In [36]:
giftBox = 'bread iph*one butter ip*ad milk'
giftBox.split()
#print([item for item in list(map(str, giftBox.split())) if item[0].lower()=='i'])

['bread', 'iph*one', 'butter', 'ip*ad', 'milk']

In [40]:
# exercise: create a dictionary for weight in grams
wt_kgs = [80,87,89,31,97]

print({weight:weight*1000 for weight in wt_kgs})

{80: 80000, 87: 87000, 89: 89000, 31: 31000, 97: 97000}

In [41]:
# groceries >> 'item':price(in dollars)
groceries = {'milk':3, 'apples':5.5, 'bread':4}

# get output as price in rupees [1 dollar = 80 rupees]
# HINT: don't target solution directly but go 


print({item:groceries[item]*80 for item in groceries})

{'milk': 240, 'apples': 440.0, 'bread': 320}

In [44]:
print({x:y*80 for x,y in groceries.items() if x[0].lower() in 'aeiou'})

{'apples': 440.0}